{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.todo_list'|trans }}
{% endblock %}

{% block body %}

    <div class="d-flex align-items-center">
        <h1>{{ 'title.todo_list'|trans }}</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('todo_create') }}" title="{{ 'action.create'|trans }}" class="btn btn-primary ml-auto" style="margin-left: 20px;">
                {{ 'action.create'|trans }}
            </a>
        {% endif %}
    </div>

    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table ">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'todo.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'todo.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'todo.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'todo.title') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for todo in pagination.items %}
                <tr>
                    <td>{{ todo.id }}</td>
                    <td>{{ todo.createdAt|format_date('long') }}</td>
                    <td>{{ todo.updatedAt|format_date('long') }}</td>
                    <td>{{ todo.title }}</td>
                    <td>
                        <a href="{{ url('todo_show', {id: todo.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('todo_edit', {id: todo.id}) }}" title="{{ 'action.edit'|trans }}">
                                {{ 'action.edit'|trans }}
                            </a>
                            <a href="{{ url('todo_delete', {id: todo.id}) }}" title="{{ 'action.delete'|trans }}">
                                {{ 'action.delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        {% include 'default/_single_alert_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}
{% endblock %}